#code_editor_documentation {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
}

#code_editor_documentation h1, h2 {
    color: #8a5bf5;
}

#documentation_content code {
    color: #8a5bf5;
    background-color: #f3f3f3;
    padding: 1px 2px;
    border-radius: 2px;
    white-space:nowrap;
}

#documentation_content li {
    margin: 6px;
}